<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question collector &mdash; best tool to practice webdev knowledge</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet"  th:href="@{/styles/general.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/questions.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/nav-styles.css}"  />
    <link rel="stylesheet"  th:href="@{/styles/footer.css}"  />


    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script th:src="@{/scripts/questions.js}"></script>
</head>

<body>
<header class="header">
    <a href="./index.html" class="header__logo"> logo </a>

    <nav class="main-nav">
        <ul class="main-nav__list">
            <li><a class="main-nav__link" href="./index.html">home</a></li>
            <li>
                <a class="main-nav__link" href="./form-nav.html">submit</a>
            </li>
            <li>
                <a class="link-questions" href="list.html">questions</a>
            </li>
        </ul>
    </nav>

    <button class="btn-mobile">
        <ion-icon class="icon-mobile" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile" name="close-outline"></ion-icon>
    </button>
</header>

<main>
    <h1 class="questions-header">Questions</h1>

    <div class="buttons">
        <div class="switch">
            <div class="switch__button">
                <div class="button-handle"></div>
            </div>
            <div class="switch__caption"></div>
        </div>

        <button class="random">Randomize</button>
    </div>

    <div class="question-list">
        <div th:each="question, iter : ${questions}" th:class="${question.getCourse().getSection().getSectionType().toString() == 'FRONTEND'}?'question\_\_elem frontend':'question\_\_elem backend'" th:attr="onclick=|turnSide(${iter.count - 1});|">
            <div class="question__elem-inner">
                <div class="question">
                    <div class="category" th:text="${question.getCategory().getName()}">Positioning</div>
                    <div class="question__text" th:text="${question.getDescription()}">How to center element in flexbox horizontally?</div>
                    <div class="course" th:text="${question.getCourse().getName()}">Build Responsive Real-World Websites with HTML and CSS</div>
                </div>
                <div class="answer">
                    <div class="answer__title">Answer:</div>
                    <div class="answer__text" th:text="${question.getAnswer()}">Use property "justify-content: center;".</div>
                </div>
            </div>
        </div>
<!--
        <div class="question__elem backend" onclick="turnSide(1);" th:each="question : ${questions}">
            <div class="question">
                <div class="category" th:text="${question.getCategory().getName()}">backend category</div>
                <div class="question__text"  th:text="${question.getDescription()}">backend question</div>
                <div class="course" th:text="${question.getCourse().getName()}">backend course</div>
            </div>
            <div class="answer">
                <div class="answer__title">Answer:</div>
                <div class="answer__text" th:text="${question.getAnswer()}">backend answer</div>
            </div>
        </div> -->
    </div>
</main>

<footer>
    <div class="container">
        <div class="footer--div grid">
            <div class="footer--logo">logo</div>
            <div class="footer--links">
                <p class="footer--desc">Check us out on:</p>
                <a class="footer__link" href="#"></a>
                <ion-icon class="footer__icon" name="logo-facebook"></ion-icon>
                </a>
                <a class="footer__link" href="https://github.com/restmate-pl">
                    <ion-icon class="footer__icon" name="logo-github"></ion-icon>
                </a>
                <a class="footer__link" href="#">
                    <ion-icon class="footer__icon" name="logo-linkedin"></ion-icon>
                </a>
            </div>
            <div class="footer--copy">
                <p>Copyright &copy; CodeMate 2021</p>
            </div>
        </div>
    </div>
</footer>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" th:src="@{/scripts/script.js}"></script>
</body>

</html>