<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/form-styles.css" />
    <link rel="stylesheet" href="../styles/nav-styles.css" />
    <title>Question Collector</title>
  </head>
  <body>
  <!--/*@thymesVar id="question" type="com.restmate.questioncollector.commands.QuestionCommand"*/-->
    <header class="header">
      <a href="./index.html" class="link header__logo"> logo </a>

      <nav class="main-nav">
        <ul class="main-nav__list">
          <li><a class="main-nav__link link" href="./index.html">Home</a></li>
          <li><a class="main-nav__link link" href="#">Questions</a></li>
          <li>
            <a class="main-nav__link link" href="#">Submit</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="submit-div">
        <form class="submit-div__form" th:object="${question}" th:action="@{/submit/add/}" method="post">
          <div class="flex--row team-course-div">
            <div class="label-input-div">
              <label for="category">Team:</label>
              <select class="select">
                <option value="frontend">frontend</option>
                <option value="backend">backend</option>
              </select>
            </div>
            <div class="label-input-div">
              <label for="category">Course:</label>
              <select class="select">
                <option value="html&css">HTML&CSS</option>
                <option value="typescript">TypeScript</option>
                <option value="angular">Angular</option>
              </select>
            </div>
          </div>
          <div class="label-input-div">
            <label for="category">Category:</label>
            <input
              type="text"
              name="description"
              id="category"
              class="input-states"
            />
          </div>
          <div class="label-input-div">
            <label for="question">Add a question:</label>
            <textarea id="question" class="input-states" th:field="*{description}"> </textarea>
          </div>
          <div class="label-input-div">
            <label for="answer">Answer:</label>
            <textarea id="answer" class="input-states" th:field="*{answer}"> </textarea>
          </div>
          <div class="button-div">
            <button type="submit" class="button">Submit</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
