<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Question collector &mdash; best tool to practice webdev knowledge
		</title>

		<link rel="stylesheet" href="@{/styles/error.css}" />
	</head>
	<body>
		<div class="section-main">
			<div class="container">
                <div class="img-box">
					<img
						src="../static/images/happy_page.png"
						alt="Image showing happy page cartoon character"
					/>
				</div>
				<div class="text-box">
					<h1 class="heading-primary">
						The question was submitted successfully!
					</h1>
					<p>
						Our team of executors will consider if it suits the question
						database.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
