<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
				name="description"
				content="Question collector - online tool to help you learn using flashcards.
			 You can also submit new questions to the database and increase the variety of cross-examination"
		/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" th:href="@{/styles/form-styles.css}" />
		<link rel="stylesheet" th:href="@{/styles/nav-styles.css}" />
    
		<link rel="stylesheet" th:href="@{/styles/general.css}" />
		<link rel="stylesheet" th:href="@{/styles/footer.css}" />
        
<!--        <link rel="stylesheet" th:href="@{/styles/responsive-home.css}">-->
    
		<title>Question Collector</title>
	</head>
	<body>
	<header>
		<nav>
			<div class="logo">Logo</div>
			<div class="openMenu">
				<ion-icon class="icon-mobile" name="menu-outline"></ion-icon>
			</div>
			<ul class="mainMenu">
				<li><a href="/" class="main-nav__link">home</a></li>
				<li><a href="/submit" class="main-nav__link">submit</a></li>
				<li><a href="/questions" class="link-questions">questions</a></li>
				<div class="closeMenu">
					<ion-icon class="icon-mobile" name="close-outline"></ion-icon>
				</div>

			</ul>
		</nav>
	</header>
		<main>
			<div class="submit-div">
				<div class="form-title">Add your question here!</div>
				<form
					class="submit-div__form"
					th:object="${question}"
					th:action="@{/submit/add/}"
					method="post"
				>
					<div class="flex--row team-course-div">
						<div class="select-div">
							<div class="label-input-div">
								<!-- <label for="category">Team</label> -->
								<select
									class="select"
									id="team"
									onchange="selectingTeam(this.id, 'courses', 'category')"
									required
								>
									<option value="" disabled selected hidden>choose team</option>
									<option value="frontend">frontend</option>
									<option value="backend">backend</option>
								</select>
							</div>
							<div class="label-input-div">
								<!-- <label for="category">Course</label> -->
								<select class="select" id="courses" th:field="*{course}" required>
									<option value="" disabled selected hidden data-section="NONE">
										course
									</option>
									<option
										th:each="course : ${courses}"
										th:attr="data-section=${course.getSection().getSectionType()}"
										th:value="${course.id}"
										th:text="${course.name}"
									>
										val
									</option>
								</select>
							</div>
						</div>
						<div class="label-input-div category">
							<select
								name="category"
								class="select"
								id="category"
								th:field="*{category}"
                required
							>
								<!-- TODO - THE SAME LIKE SELECTING COURSE -->
								<!-- after swtiching to backend, only backend categories -->
								<option
									th:each="cat : ${categories}"
									th:value="${cat.id}"
									th:text="${cat.name}"
								>
									CSS - positioning
								</option>
							</select>
						</div>
					</div>
					<div class="label-input-div">
						<textarea
							required
							id="question"
							class="question"
							placeholder="write your question!"
							th:field="*{description}"
						></textarea>
					</div>
					<div class="label-input-div">
						<textarea
							required
							id="answer"
							class="answer"
							placeholder="add an answer!"
							th:field="*{answer}"
						></textarea>
					</div>
					<div class="button-div">
						<button type="submit" class="button">Submit your question!</button>
					</div>
				</form>
			</div>
		</main>

		<footer>
			<div class="container">
				<div class="footer--div grid">
					<div class="footer--logo">logo</div>
					<div class="footer--links">
						<p class="footer--desc">Check us out on:</p>
						<a class="footer__link" href="https://www.facebook.com/vilcode-108311144997852/">
							<ion-icon class="footer__icon" name="logo-facebook"></ion-icon>
						</a>
						<a class="footer__link" href="https://github.com/restmate-pl">
							<ion-icon class="footer__icon" name="logo-github"></ion-icon>
						</a>
						<a class="footer__link" href="#">
							<ion-icon class="footer__icon" name="logo-linkedin"></ion-icon>
						</a>
					</div>
					<div class="footer--copy">
						<p>Copyright &copy; vilcode 2021</p>
					</div>
				</div>
			</div>
		</footer>
		<script type="text/javascript" th:src="@{/scripts/script.js}" defer></script>
		<script
				type="module"
				src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
				defer
		></script>
		<script
				nomodule
				src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
				defer
		></script>
	</body>

</html>
