footer {
	height: 9.6rem;
}

.footer--div {
	padding: 4.8rem 6.4rem;
	grid-template-columns: auto auto 1fr;
	align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer--div:not(.in--home)  {
	padding: 3.2rem 0;
}

.footer--logo {
	width: 6.4rem;
	height: 6.4rem;
	background-color: red;
    
    /* temp */
    font-size: 2rem;
    color: #fff;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer--links {
	display: flex;
	gap: 1.2rem;
	/* justify-content: space-around; */
	gap: 2rem;
	margin-left: 3.2rem;
	align-items: center;

	font-size: 1.8rem;
}
.footer--desc {
	color: #777;
}
.footer__link:link,
.footer__link:visited {
	width: 3.2rem;
	height: 3.2rem;
}
.footer__link:hover .footer__icon,
.footer__link:active .footer__icon {
	color: #666;
	transform: scale(105%);
}

.footer__icon {
	color: #999;
	font-size: 3.2rem;

	transition: color 0.3s ease-out, transform 0.3s ease-out;
}

.footer--copy {
	font-size: 1.4rem;
	color: #aaa;
	justify-self: center;
}

@media (max-width: 75em) {
	.footer--div {
		padding: 4.8rem 3.2rem;
	}
}

@media (max-width: 68.75em) {
	.grid {
		column-gap: 3.2rem;
	}
}

@media (max-width: 57.5em) {
	.grid {
		  gap: 1.2rem;
	  }
}

@media (max-width: 50em) {
	.grid--3-cols {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 43.75em) {
	.footer--copy {
		grid-column: 2 / -1;
		justify-self: flex-end;
	}
}

@media(max-width: 25em) {
	.footer--div {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.footer--copy {
		grid-column: 1 / -1;
		justify-self: center;
	}
}