.footer--div {
	font-size: 1.8rem;
	padding: 4.8rem 6.4rem;
	grid-template-columns: auto auto;
	align-items: center;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer--links {
	display: flex;
	gap: 1.2rem;
	/* justify-content: space-around; */
	gap: 2rem;
	align-items: center;
	justify-self: start;

}

.footer--desc {
	color: #777;
}

.footer__link:link,
.footer__link:visited {
	width: 3.2rem;
	height: 3.2rem;
}

.footer__link:hover .footer__icon,
.footer__link:active .footer__icon {
	color: #666;
	transform: scale(105%);
}

.footer__icon {
	color: #999;
	font-size: 3.2rem;

	transition: color 0.3s ease-out, transform 0.3s ease-out;
}

.footer--copy {
	color: #aaa;
	justify-self: end;
}

@media (max-width: 75em) {
	.footer--div {
		padding: 4.8rem 3.2rem;
	}
}

@media (max-width: 68.75em) {
	.grid {
		column-gap: 3.2rem;
	}
}

@media (max-width: 57.5em) {
	.grid {
		  gap: 1.2rem;
	  }
}

@media (max-width: 50em) {
	.grid--3-cols {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 34em) {
	.footer--div {
		grid-template-columns: 1fr;
		padding: 3.2rem 0;
		gap: 2.4rem;
	}

	.footer--links, .footer--copy {
	    justify-self: center;
	}
}