@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  background-color: #fff;
}

.main-submit {
  margin: 0 auto;
padding: 3.2rem 0;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 25rem);
}

::placeholder {
  color: #394147;
}
/* reusable styles */
.flex--row {
  display: flex;
  flex-direction: row;
}

.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #0f2231;
}

.link:hover,
.link:active {
  text-decoration: none;
  color: #0f2231;
}

/* form styling */

.submit-div {
  background-color: #f5f5f5;
  width: 70%;
  max-width: 100rem;
max-height: 68rem;

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.2rem;
  font-size: 3rem;

  border-radius: 1rem;
  overflow: hidden;

  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.116);

  flex-shrink: 0;
}

.form-title {
  height: 9.6rem;
  width: 100%;
  background-color: #009985;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  font-weight: 700;
  font-size: 4rem;
}

.submit-div__form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 80%;
  justify-content: space-around;

  margin: 0 auto 4.8rem auto;
}

.team-course-div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 3.2rem;
}

.select {
  padding: 1.2rem 1.6rem;
  color: #081119;
  background-color: #fff;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  font-size: 1.8rem;
  width: 100%;

  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: outline 0.1s ease;
}

.question,
.answer {
  background-color: #fff;
  color: #081119;
  font-weight: 600;
  font-family: Montserrat, sans-serif;

  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  line-height: 1.4;
  width: 100%;
  height: 10rem;
  border: 1px solid transparent;
  border-radius: 6px;

  resize: none;

  /* removing default styles for all browsers */
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button {
  padding: 1.6rem 6.4rem;
  border-radius: 20rem;
  font-size: 1.8rem;
  border: 4px solid transparent;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  width: 100%;

  color: #081119;
  background-color: #00BFA6;
  box-shadow: 0 1rem 0.8rem rgba(30, 48, 43, 0.1);

  transition: background-color 0.4s ease-in-out;
}

.button:hover,
.button:active {
  cursor: pointer;
  background-color: #a1f3db;
}

.select-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3.2rem;
}

.select,
.question,
.answer {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

select:focus-visible, textarea:focus-visible {
  outline: none;
  box-shadow:inset 0 0 0.4rem #1f4463;
}
/* BELOW 1232PX 1232/16=77em */
@media (max-width: 77em) {
  .submit-div {
    width: 85%;
  }
}

@media (max-width: 56em) {
  .form-title {
    font-size: 3rem;
  }
  .submit-div__form {
    width: 90%;
  }
}

@media (max-width: 44em) {


  .select-div {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 1.6rem;
  }
}

/* below 608px */

@media (max-width: 38em) {

  .submit-div {
    font-size: 1.6rem;

  }
  .form-title {
    font-size: 2.4rem;
    height: 8rem;
  }
  .submit-div__form {
    width: 95%;
    margin: 0 auto 3.2rem auto;
  }

  .select-div {
    gap: 1.6rem;
  }

  .select,
  .question,
  .answer,
  .category__input {
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
  }

  .select-div {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.4rem;
  }
}

/*@media (max-width: 33em) {*/
/*main {*/
/*  padding: 1.6rem 0;*/
/*}*/
/*  .submit-div {*/
/*    font-size: 1.2rem;*/
/*    gap: 1.2rem;*/
/*  }*/
/*  .form-title {*/
/*    height: 8rem;*/
/*    font-size: 2rem;*/
/*  }*/
/*  .select {*/
/*    font-size: 1.4rem;*/
/*  }*/
/*  .category__input {*/
/*    font-size: 1.4rem;*/
/*  }*/
/*  .question,*/
/*  .answer {*/
/*    padding: 0.8rem 1.2rem;*/
/*    font-size: 1.4rem;*/
/*    height: 8rem;*/
/*  }*/

/*  .button {*/
/*    padding: 1.6rem 3.2rem;*/
/*    font-size: 1.2rem;*/
/*  }*/


/*.select-div*/
/*,.flex-row,*/
/*  .team-course-div,*/
/*  .submit-div__form {*/
/*    gap: 1.6rem;*/
/*  }*/
/*}*/
