html {
  /* for mobile nav effect */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* mobile icon */

.btn-mobile {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile {
  height: 4.8rem;
  width: 4.8rem;
  color: #4b796c;
}

.icon-mobile[name="close-outline"] {
  display: none;
}

/* header */
.header {
  width: 100%;
  height: 9.6rem;
  background-color: #edf7fe;
  font-weight: 600;

  padding: 0 3.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
.header__logo:link,
.header__logo:visited {
  text-decoration: none;
  font-size: 4.4rem;
  font-weight: 700;
  color: #1f4463;
  transition: all 0.1s ease;
  border-radius: 6px;
}

.header__logo:focus {
  outline: none;
}

.main-nav {
  display: flex;
  font-size: 2.4rem;
  margin-left: 6.4rem;
}
.main-nav__list {
  display: flex;
  gap: 4.8rem;
}

.main-nav__list li {
  list-style: none;
}

.main-nav__link:link,
.main-nav__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #1f4463;
  border: 4px solid transparent;
  padding: 1.2rem 0;

  border-radius: 6px;
  /* box-shadow: 0px 8px 15px #1e302b11; */

  transition: all 0.1s ease;
}
.main-nav__link {
  position: relative;
}
.main-nav__link:focus {
  outline: 3px solid #3e89c6;
}
.main-nav__link::before {
  content: "";
  height: 3px;
  background-color: #1f4463;
  position: absolute;
  display: block;
  top: 5rem;
  right: 0;
  left: 0;

  transform: scale(0, 1);
  transform-origin: left;
  transition: all ease-in-out 0.3s;
}
.main-nav__link:hover::before {
  transform: scale(1, 1);
}

.main-nav__link:hover,
.main-nav__link:active {
  text-decoration: none;
  color: #1f4463;

  box-shadow: none;
}

.link-questions:link,
.link-questions:visited {
  text-decoration: none;
  display: inline-block;
  background-color: #3e89c6;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border: 4px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 0.8rem 1.5rem #78c2ac11;
  transition: all 0.4s ease-in-out, outline 0.1s ease;
}

.link-questions:focus {
  outline: 3px solid #3e89c6;
}

.link-questions:hover,
.link-questions:active {
  text-decoration: none;
  background-color: #fff;
  border: 4px solid transparent;
  color: #3e89c6;
}

/* BELOW 896PX */
@media (max-width: 56em) {
  .main-nav__list {
    gap: 2.4rem;
  }

  .main-nav__link:link,
  .main-nav__link:visited {
    padding: 1.2rem 0.4rem;
  }

  .link-questions:link,
  .link-questions:visited {
    padding: 1.2rem 1.6rem;
  }
}

/* BELOW 704PX 
MOBILE NAV
*/
@media (max-width: 44em) {
  .btn-mobile {
    display: block;
    z-index: 111;
  }

  .main-nav {
    background-color: #f5fefbf8;
    position: absolute;
    top: 0;
    left: 0;

    margin-left: 0;

    width: 100%;
    height: 100vh;

    justify-content: center;
    transition: all 0.4s ease-in;
    transform: translateX(100%);

    /* hide navigation */

    opacity: 0;
    /*make unaccessible for mouse and keyboard */
    pointer-events: none;

    /* hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-mobile[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile[name="menu-outline"] {
    display: none;
  }

  .main-nav__list {
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .main-nav__list li {
    display: flex;
    justify-content: center;
  }

  .main-nav__link:link,
  .main-nav__link:visited {
    font-size: 3.6rem;
  }
  .link-questions:link,
  .link-questions:visited {
    font-size: 3.6rem;
    background-color: #78c2ac;
    color: #f5fefb;
    padding: 1.2rem 2.4rem;
  }

  .nav-open .main-nav__link {
    position: relative;
  }
  .nav-open .main-nav__link::before {
    display: none;
  }
}
