.questions-main {
  padding: 4.8rem 16.6rem;
  background-color: #fff;
  min-height: calc(100vh - 19.2rem);
}

.questions-header {
  text-align: center;
  font-size: 4.4rem;
  max-width: 90rem;
  margin: 0 auto;
  color: #0c1b28;
}

.buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  max-width: 90rem;
  margin: 4.8rem auto 0 auto;

}

.switch {
  width: 20rem;
  border-radius: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.switch__button {
  width: 8rem;
  height: 2.8rem;
  background-color: #f5fefb;
  border-radius: 100px;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.switch__button:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.4);
}

.button-handle {
  width: 2rem;
  height: 2rem;
  background-color: #009f8a;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.frontend-btn {
  background-color: #008f7c;
  color: #fff;
}

.backend-btn {
  background-color: #30537e;
  color: #fff;
}

.switch.frontend-btn .switch__button,
.switch.backend-btn .switch__button{
  background-color: #2F2E41;
}

.button-handle{
  background-color: #cdc8c8;
  transition: transform 0.3s ease;
}


.backend-btn .button-handle {
  transform: translate(5.1rem, 0);
}

.switch__caption {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
}

.question-list {
  padding: 3.6rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 4.8rem;
  margin: 0 auto;
  max-width: 90rem;
}

.question__elem {
  width: 100%;
  color: #02261b;
  perspective: 500rem;
  word-wrap: break-word;
  min-height: 15rem;
}

.question__elem-inner {
  width: 100%;
  min-height: 15rem;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  background-color: #f5fefb;
  border-radius: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.question__elem-inner.is-flipped {
  transform: rotateY(-179deg);
}

.question, .answer {
  padding: 2.4rem 3.2rem;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  min-height: 15rem;
  background-color: #f8f8f8;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 8px;
}

.question__text {
  font-style: italic;
  font-size: 1.6rem;
}

.course {
  margin-top: auto;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: auto;
}

.frontend .course{
    color: #008f7c;
}

.backend .course{
    color: #30537e;
}

.answer {
  transform: rotateY(-180deg);
  position: absolute;
  top: 0;
}

.answer__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.answer__text {
  font-size: 1.6rem;
}

.hidden {
  display: none;
}

.random:focus-visible,
.switch__button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 0.2rem #1f4463;
}

/* BELOW 1232PX 1232/16=77em */
@media (max-width: 77em) {
  .questions-main {
    padding: 4.8rem 5rem;
  }
}

@media (max-width: 56em) {
  .question, .answer {
    padding: 1.6rem 2.4rem;
  }

  .category {
    font-size: 1.6rem;
  }
  
  .question__text {
    font-size: 1.4rem;
  }
  
  .course {
    font-size: 1rem;
  }
  
  .answer__title {
    font-size: 1.6rem;
  }
  
  .answer__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 44em) {
  .random {
    font-size: 1.2rem;
    width: 10rem;
  }

  .switch {
    width: 16rem;
  }

  .switch__button {
    width: 6.4rem;
  }

  .backend-btn .button-handle {
    transform: translate(3.4rem, 0);
  }

  .backend-btn-starter .button-handle {
    transform: translate(3.4rem, 0);
  }

  .switch__caption {
    font-size: 1.4rem;
  }
}

/* below 608px */

@media (max-width: 38em) {
  .questions-main {
    padding: 4.8rem 3.2rem;
  }
  .questions-header{
    font-size: 3.6rem;
  }

}

@media (max-width: 33em) {
  .question-list {
    row-gap: 2.4rem;
  }
  
  .switch {
    width: 14rem;
  }

  .switch__button {
    width: 5.6rem;
  }

  .backend-btn .button-handle {
    transform: translate(2.7rem, 0);
  }

  .backend-btn-starter .button-handle {
    transform: translate(2.7rem, 0);
  }

  .switch__caption {
    font-size: 1.2rem;
  }
}


