@media (max-width: 75em) {
	.section-hero,
	.section-description {
		padding: 9.6rem 3.2rem;
	}
	.footer--div {
		padding: 4.8rem 3.2rem;
	}

    .section-hero .grid--2-cols {
		grid-template-columns: 55fr 45fr;
	}
}

@media (max-width: 68.75em) {
	.grid {
		column-gap: 3.2rem;
	}
	.section-hero .grid--2-cols {
		grid-template-columns: 65fr 35fr;
	}

    /* turn off hover effects */
	.description-list__item:hover {
		transform: translateY(0px);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
		cursor: auto;
	}
	.description-list__item:hover .description__icon {
		box-shadow: 0 0 12px 6px rgba(8, 127, 91, 0);
	}

	.btn--full:hover,
	.btn--full:active {
        background-color: #087f5b;
		color: #fff;
	}
	.btn--outline:hover,
	.btn--outline:active {
		background-color: rgba(255, 255, 255, 1);
		color: #5c5c5c;
	}
}

@media (max-width: 75.5em) {
	html {
		/* 1 rem == 9 px */
		font-size: 56.25%;
	}
	.section-hero .grid--2-cols {
		grid-template-columns: 1fr;
	}
	.grid {
		gap: 1.2rem;
	}
	.section-hero {
		padding: 9.6rem 3.2rem;
		min-height: auto;
	}
	
}

@media (max-width: 50em) {
    .section-description .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	.heading-primary {
		font-size: 4.4rem;
		letter-spacing: -0.6px;
	}
    .grid--3-cols {
        grid-template-columns: 1fr;
    }
    .description-list {
        width: 80%;
    }
    .description__icon {
        margin-bottom: 1.6rem;
    }
    .description-list__item:nth-child(even){
        justify-self: end;
    }
}

@media (max-width: 43.75em){
	html{
		font-size: 50%;
	}
	.footer--div {
		row-gap: 6.4rem;
	}
	.heading-secondary {
		font-size: 3.6rem;
		margin-bottom: 1.6rem;
	}
	.description-list {
		margin-top: 1.6rem;
	}
}

@media (max-width: 31.25em){
	.section-description {
		padding: 9.6rem 0;
	}
	.hero-btns {
		flex-direction: column;
		align-items: flex-start;
	}
	.btn {
		padding: 2.4rem 4.8rem;
	}
}

@media (max-width: 25em) {
	html{
		font-size: 43.75%;
	}
	.section-hero {
		text-align: center;
	}
	.hero-btns {
		align-items: center;
	}
	.btn {
		font-size: 3rem;
	}
	.heading-secondary {
		text-align: center;
	}
	.description-list {
		font-size: 2.4rem;
	}

	
}

/* 
    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
