@media (max-width: 1200px) {
	.section-hero,
	.section-description {
		padding: 9.6rem 3.2rem;
	}
	.footer--div {
		padding: 4.8rem 3.2rem;
	}

    .section-hero .grid--2-cols {
		grid-template-columns: 55fr 45fr;
	}
}

@media (max-width: 1100px) {
	.grid {
		column-gap: 3.2rem;
	}
	.section-hero .grid--2-cols {
		grid-template-columns: 65fr 35fr;
	}

    /* turn off hover effects */
	.description-list__item:hover {
		transform: translateY(0px);
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
		cursor: auto;
	}
	.description-list__item:hover .description__icon {
		box-shadow: 0 0 12px 6px rgba(8, 127, 91, 0);
	}

	.btn--full:hover,
	.btn--full:active {
        background-color: #087f5b;
		color: #fff;
	}
	.btn--outline:hover,
	.btn--outline:active {
		background-color: rgba(255, 255, 255, 1);
		color: #5c5c5c;
	}
}

@media (max-width: 920px) {
	html {
		/* 1 rem == 9 px */
		font-size: 56.25%;
	}
	.section-hero .grid--2-cols {
		grid-template-columns: 1fr;
	}
	.grid {
		gap: 1.2rem;
	}
	.section-hero {
		padding: 9.6rem 3.2rem 4.8rem;
	}
	
}

@media (max-width: 800px) {
    .section-description .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid--3-cols {
        grid-template-columns: 1fr;
    }
    .description-list {
        width: 80%;
    }
    .description__icon {
        margin-bottom: 1.6rem;
    }
    .description-list__item:nth-child(even){
        justify-self: end;
    }
}
